{% extends "layout.njk" %}

{% block head %}
    <title>{{recipe.title}} - Foodfy</title>
{% endblock %}

{% block header %}
    <a href="/about">Sobre</a>
    <a href="/recipes"><strong>Receitas</strong></a>
{% endblock %}

{% block content %}

<section class="uniq_recipe">

    <div id="{{recipe.title}}">
        <div class="uniq_img">
            <img src="{{recipe.image}}" alt="Image recipe {{recipe.title}}">
        </div>
        
        <div class="uniq_recipe_infor">
            <h2 id="uniq_plate">{{recipe.title}}</h5>
            <p id="uniq_cooker">Por {{recipe.author}}</p>
        </div> 
    </div>

    <div class="uniq_recipe_content">
        <div class="topics">
            <h3 class="uniq_topics">Ingredientes</h3>
            <a id="botton_change1">Mostrar</a>
        </div>
        <div id="content1">
            {%for ingredient in recipe.ingredients%}
                <li class="uniq_topics_contet">{{ingredient}}</li>
            {%endfor%}
        </div>
    </div>
    <div class="uniq_recipe_content">
        <div class="topics">
            <h3 class="uniq_topics">Modo de Preparo</h3>
            <a id="botton_change2">Mostrar</a>
        </div>
        <div id="content2">
            {%for preparation in recipe.preparation%}
                <li class="uniq_topics_contet">{{preparation}}</li>
            {%endfor%}
        </div>
    </div>
    <div class="uniq_recipe_content">
        <div class="topics">
            <h3 class="uniq_topics">Informações adicionais</h3>
            <a id="botton_change3">Mostrar</a>
        </div>
        <div id="content3">
            <div class="uniq_topics_contet">{{recipe.information}}</div>
        </div>
    </div>
          
</section>

{% endblock %}